<div class="link-section">
    <div class="box-container sections">
        <div class="contact-section">
            <span class="footer-title" routerLink="/home">NeoSTORE</span>
            <div class="input-container">
                <span><img src="../../../assets/ic_email_24px.png" alt=""></span>
                <input type="text" placeholder="Your email address">
                <button class="common-btn">subscribe</button>
            </div>
            <div class="contact-container">
                <span>contact Info</span>
            <span>
                <a><span>+91 12345 67890  |  </span></a> <a><span>+91 09876 54321</span></a>
                <br>
                <span> 17 London Road, Near Parel Railway station</span>
            </span>
            <span><em>fb </em><em>insta </em><em>twit </em></span>
            </div>
        </div>
        <section class="links">
            <nav class="navigation">
                <h5 class="nav-title">Catagories</h5>
                <ul class="link-list">
                    <li class="list-item">Popular</li>
                    <li class="list-item">Chair</li>
                    <li class="list-item">Table</li>
                    <li class="list-item">Sofa</li>
                    <li class="list-item">Cupboard</li>
                    <li class="list-item">Lamp</li>
                </ul>
            </nav>
        </section>
        <section class="links">
            <nav class="navigation">
                <h5 class="nav-title">Customer Service</h5>
                <ul class="link-list">
                    <li class="list-item">My Account</li>
                    <li class="list-item">Discount</li>
                    <li class="list-item">Returns</li>
                    <li class="list-item">Orders History</li>
                    <li class="list-item">Order Tracking</li>
                </ul>
            </nav>
        </section>
        <section class="links">
            <nav class="navigation">
                <h5 class="nav-title">Catagories</h5>
                <ul class="link-list">
                    <li class="list-item">Popular</li>
                    <li class="list-item">Chair</li>
                    <li class="list-item">Table</li>
                    <li class="list-item">Sofa</li>
                    <li class="list-item">Cupboard</li>
                    <li class="list-item">Lamp</li>
                </ul>
            </nav>
        </section>
        <section class="links">
            <nav class="navigation">
                <h5 class="nav-title">Catagories</h5>
                <ul class="link-list">
                    <li class="list-item">Popular</li>
                    <li class="list-item">Chair</li>
                    <li class="list-item">Table</li>
                    <li class="list-item">Sofa</li>
                    <li class="list-item">Cupboard</li>
                    <li class="list-item">Lamp</li>
                </ul>
            </nav>
        </section>
    </div>
</div>
<div class="footer-markup">
    <span>©Neostore - All Rights Reserved</span>
</div>
