<div class="navigation-header">
    <div class="box-container header-container">
        <div class="title-container">
            <a routerLink="/home">NeoSTORE</a>
        </div>
        <div class="navigation-container">
            <ul class="nav-menu">
                <li><a routerLink="/home">Home</a></li>
                <li><a routerLink="/home">Furniture</a></li>
                <li><a routerLink="/home">Home Decor</a></li>
                <li><a routerLink="/home">Blog</a></li>
                <li><a routerLink="/home">Sale</a></li>
                <li><a routerLink="/home">More</a></li>
            </ul>
        </div>

        <div class="search-container">
            <button type="button" (click)="logout()">Logout</button>
        </div>
    </div>
</div>

<div class="banner-img">
    <div class="box-container">
        <!-- <h3>Furniture 2022</h3> -->
    </div>
</div>

<!-- <div *ngFor="let key of Object.keys(obj)">
    <span>{{}}</span>
    <span>{{}}</span>
</div> -->
<!-- <div appLogger>hey</div> -->