<div class="form">
    <div class="title">
        <h4>{{formModel.title}}</h4>
    </div>
    <form [formGroup]="formModel.formGroup">
        <ng-container *ngFor="let field of formModel.fields">
            <ng-container [ngSwitch]="field.type">
                <ng-container *ngSwitchCase="'email'">
                    <div class="form-group">
                        <app-input-text [inputModel]="field" [formControlName]="field.formControlName"></app-input-text>
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="'password'">
                    <div class="formGroup">
                        <app-input-text [inputModel]="field" [formControlName]="field.formControlName">
                            <small id="emailHelp" class="form-text text-muted"><a href="">Forget Password</a></small>
                        </app-input-text>
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="'checkbox'">
                    <div class="form-check">
                        <app-check-box [inputModel]="field" [formControlName]="field.formControlName">
                        </app-check-box>
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="'text'">
                    <div class="form-group">
                        <app-input-text [inputModel]="field" [formControlName]="field.formControlName"></app-input-text>
                    </div>
                </ng-container>
            </ng-container>
        </ng-container>
    </form>
</div>