.form {
    width: 372px;
    display: flex;
    flex-direction: column;
    margin-top: 62px;
    // border: 1px solid black;
    margin-inline: auto;
    gap: 77px;

    .title {
        text-align: center;

       h4 {
        color: #E91B1A;
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 22.97px;
       } 

    }

    small {
        text-align: end;
        font-weight: 400;
        font-size: 12px;
        line-height: 14.4px;
        margin-left: auto;
    
        a {
            color: #585858;
        }
    
    }
}
