<div class="box-container">
    <a class="redirect-home" routerLink="/home">NeoSTORE</a>
    <div class="login-container">
        <div class="img-container">
            <img src="../../../assets/pana.png" alt="random img">
        </div>
        <div class="form-container">
            <app-form [formModel]="signInFormModel"></app-form>
            <div class="btn-container">
                <button class="common-btn" (click)="login()" type="submit">Continue</button>
            </div>

            <div class="signup-link">
                <small>New to NeoSTORE? <a routerLink="/signup">Sign up</a></small>
            </div>
        </div>
    </div>

</div>