
.box-container {
    max-width: 1200px;
    margin: auto;
}
.redirect-home {
    display: inline-block;
    color: #BB0100;
    font-size: 3rem;
    font-weight: 700;
    line-height: 45px;
    margin-top: 1.7rem;
    text-decoration: none;
}

.login-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 36px;

    .img-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}


.form-container {
    background-color: white;
    width: 451px;
    height: 556px;
    box-shadow: 0px 0px 15px 2px #0000000F;
    border-radius: 20px;

        
    .btn-container {
        display: flex;
        justify-content: center;
        margin-top: 51px;

        button {
            width: 271px;
            height: 36px;
            background-color: #BB0100;
            color: white;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 16px;
            border: none;
            border-radius: 2px;
        }
    }

    .signup-link, 
    .signin-link{
        text-align: center;
        margin-top: 39px;

        small {
            font-size: 1.4rem;
            font-weight: 400;
            color: #4F4F4F;

            a {
                color: #4F4F4F;
                font-weight: 500;
            }
        }
    }
}