label {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 13.4px;
    color: #666666;
    margin-block: 13px;
}

input {
    padding-block: 14px;
    padding-left: 15px;
}

::placeholder {
    color: #666666;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 20px;
}
